/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --background-color: #fff;
  --main-color: #357b70;
  --link-visited: #05676e;
  --link-active: #489c79;
  --button-background-color: #357b70;
  --button-color: #fff;
  --button-border-bottom: rgba(0, 0, 0, 0.3);
  --grid-background-color: #d3d3d3;
  --keyframe-before: #edc655;
  --keyframe-after: #f76414;
  --main-font-weight: 700;
}

a {
  color: var(--primary-color);
}

body {
  background-color: var(--background-color);
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 16px;

  /* Sets the font size to 16px */
  line-height: 1.6;

  /* Sets the line-height to 1.6 */
}

header {
  font-size: 20px;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  font-weight: var(--main-font-weight);
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: var(--main-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--main-font-weight);
}

a {
  color: var(--main-color);
  font-weight: 500;
}

a:visited {
  /* visited link */
  color: var(--link-visited);
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--link-active);
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button-background-color);
  color: var(--button-color);
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid var(--button-border-bottom);
}

button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

.navigation-list__item {
  text-decoration: none;
  border-bottom: 2px dotted black;
  transition: all 0.2s ease-in-out;
}

.navigation-list__item:hover {
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.navigation-list__item--active {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.profile__portrait {
  float: left;
}

.page-footer {
  clear: both;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile__text {
  flex: 1 1 100px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid_item {
  background-color: var(--grid-background-color);
  display: inline-block;
  padding: 10px;
  width: auto;
}

.grid_item:last-child {
  grid-column: 1 / 3;
  grid-row: 3 / 2;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.about {
  max-width: 700px;
  margin: 0 auto;
  padding-left: 10px;
}

.work {
  max-width: 800px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.page-footer {
  clear: both;
  padding-left: 10px;
  max-width: 700px;
  margin: 0 auto;
}

.contact .contact__form {
  max-width: 700px;
  margin: 0 auto;
  padding-left: 10px;
}

.contact {
  text-align: center;
}

.contact__form {
  text-align: center;
  display: inline-block;
}

.page__footer {
  text-align: center;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.grid_item:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.grid_item:last-child {
  grid-column: auto / auto;
  grid-row: auto / auto;
}

h1 {
  font-size: 22px;
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the button */
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

  /* width of the border, type, color */
  border-bottom: 2px solid var(--button-border-bottom);
  transition-duration: 0.2s;
  transition-property: opacity;
}

@keyframes color-change {
  from {
    fill: var(--keyframe-before);
  }

  to {
    fill: var(--keyframe-after);
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
